body{
    background-color: black;
}

.div1{
    color: white;
    display: flex;
    justify-content: center;
}
.div2{
    
    display: flex;
    justify-content: center;
}
.div3{
    color: white;
}
.post{
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

