<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Exemplo de For</title>
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <h1>Exemplo de FOR</h1>

        <% for (var i =1; i <= valor;  i++ ) { %>
            <div>
                <%= i %>
            </div>
         <% } %>
         
    </body>
</html>